<header style="background-color: red;height: 20vh;line-height: 20vh;text-align: center" > header</header>



<router-outlet></router-outlet>


<div class="alert alert-primary" role="alert">
    Đủ 18+ thì vào
  </div>
  <div class="alert alert-secondary" role="alert">
    Admin thì vào 
  </div>
  <div class="alert alert-success" role="alert">
    FUCK
  </div>
  <div class="alert alert-danger" role="alert">
    FUCK
  </div>
  <div class="alert alert-warning" role="alert">
    FUCK
  </div>
  <div class="alert alert-info" role="alert">
    FUCk
  </div>

  

<footer style="background-color: red;height: 20vh;line-height: 20vh;text-align: center ;">footer</footer>